<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iTemperature.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9D4D95201C3B13B200F2621A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D4D95311C3B13B300F2621A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D4D953C1C3B13B300F2621A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
